# For local Wi-Fi testing from Android phone, use your computer LAN IP:
# Example:
# VITE_API_BASE_URL=http://192.168.0.18:8000/api

# For real production APK, use HTTPS domain:
# VITE_API_BASE_URL=https://your-domain.com/api

VITE_API_BASE_URL=http://192.168.0.18:8000/api
